In [48]:
import pandas as pd
import numpy as np
import multiprocessing
multiprocessing.cpu_count()
from os import listdir
from os.path import isfile, join

In [49]:
onlyfiles = [f for f in listdir('../CSVs/weather_data/') if isfile(join('../CSVs/weather_data/', f))]

In [50]:
onlyfiles

['madera.csv',
 'inyo.csv',
 'glenn.csv',
 'plumas.csv',
 'kings.csv',
 'trinity.csv',
 'santa_cruz.csv',
 'tulare.csv',
 'butte.csv',
 'del_norte.csv',
 'shasta.csv',
 'contra_costa.csv',
 'lassen.csv',
 'san_francisco.csv',
 'riverside.csv',
 'napa.csv',
 'solano.csv',
 'sacramento.csv',
 'el_dorado.csv',
 'yuba.csv',
 'humboldt.csv',
 'santa_clara.csv',
 'amador.csv',
 'san_bernardino.csv',
 'alameda.csv',
 'mendocino.csv',
 'monterey.csv',
 'sierra.csv',
 'siskiyou.csv',
 'tuolumne.csv',
 'yolo.csv',
 'calaveras.csv',
 'san_diego.csv',
 'san_joaquin.csv',
 'placer.csv',
 'tehama.csv',
 'san_mateo.csv',
 'nevada.csv',
 'lake.csv',
 'sonoma.csv',
 'merced.csv',
 'mariposa.csv',
 'stanislaus.csv',
 'sutter.csv',
 'colusa.csv',
 'san_luis_obispo.csv',
 'modoc.csv',
 'san_benito.csv',
 'fresno.csv']

In [51]:
def lowering(df):
    lowered_columns = []
    columns = df.columns
    for item in columns:
        lowered_columns.append(item.lower())
    lowered_columns[0] = 'county' #fixes the county index issue.
    df.columns = lowered_columns
    return df

In [52]:
county_list = []
#for j in range(len(onlyfiles)):
for i in onlyfiles:
    path_csv = "../CSVs/weather_data/"+i
    name_county = i.replace('.csv', '')
    exec("%s = pd.read_csv('%s')" % (name_county,path_csv))
    exec('lowering(%s)' % (name_county))
    county_list.append(name_county)

In [53]:
county_list

['madera',
 'inyo',
 'glenn',
 'plumas',
 'kings',
 'trinity',
 'santa_cruz',
 'tulare',
 'butte',
 'del_norte',
 'shasta',
 'contra_costa',
 'lassen',
 'san_francisco',
 'riverside',
 'napa',
 'solano',
 'sacramento',
 'el_dorado',
 'yuba',
 'humboldt',
 'santa_clara',
 'amador',
 'san_bernardino',
 'alameda',
 'mendocino',
 'monterey',
 'sierra',
 'siskiyou',
 'tuolumne',
 'yolo',
 'calaveras',
 'san_diego',
 'san_joaquin',
 'placer',
 'tehama',
 'san_mateo',
 'nevada',
 'lake',
 'sonoma',
 'merced',
 'mariposa',
 'stanislaus',
 'sutter',
 'colusa',
 'san_luis_obispo',
 'modoc',
 'san_benito',
 'fresno']

In [54]:
master_df = pd.DataFrame(columns = ['date', 'awnd', 'evap', 'prcp', 'snow', 'tavg',
       'tmax', 'wdmv'])

In [55]:
madera.date.unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016])

In [56]:
madera.head()

,county,name,date,awnd,prcp,snow,tavg,tmax
0,USR0000CMET,"METCALF GAP CALIFORNIA, CA US",2010,NaN,NaN,NaN,60.2,69.6
1,USR0000CMET,"METCALF GAP CALIFORNIA, CA US",2011,NaN,NaN,NaN,60.0,69.5
2,USR0000CMET,"METCALF GAP CALIFORNIA, CA US",2012,NaN,NaN,NaN,63.1,72.9
3,USR0000CMET,"METCALF GAP CALIFORNIA, CA US",2013,NaN,NaN,NaN,63.7,74.0
4,USR0000CMET,"METCALF GAP CALIFORNIA, CA US",2014,NaN,NaN,NaN,65.3,75.3

In [57]:
#averageing out the 
for county in county_list:
    
    exec("df = %s" % (county))
    years = df.date.unique()
    df.drop(['county', 'name'], axis =1, inplace = True)
    try:
        df.drop(['latitude', 'longitude', 'elevation'], axis = 1, inplace = True)
    except:
        continue
    for year in years:
        cols = df.columns
        for attribute in cols:
            mask = df.date == year
            master_df.loc[county+'_'+str(year), attribute] = df[mask][attribute].mean()

In [58]:
master_df

,date,awnd,evap,prcp,snow,tavg,tmax,wdmv
plumas_2010,2010,NaN,NaN,45.27,88.2,48.775,62.375,NaN
plumas_2011,2011,NaN,NaN,23.05,128.6,48.6,62.6714,NaN
plumas_2012,2012,NaN,NaN,41.69,NaN,51.525,66.14,NaN
plumas_2015,2015,NaN,NaN,22.0333,30.7333,52.5167,68.3167,NaN
plumas_2016,2016,NaN,NaN,46.42,49.9,51.2,65.8667,NaN
plumas_2013,2013,NaN,NaN,9.864,22,49.18,66.24,NaN
plumas_2014,2014,NaN,NaN,31.4433,12.2,52.98,68.96,NaN
santa_cruz_2010,2010,3.8,NaN,39.5567,0,56.9667,67.3167,NaN
santa_cruz_2011,2011,3.8,NaN,31.2675,NaN,56.9,67.8333,NaN
santa_cruz_2015,2015,4.3,NaN,18.5637,NaN,60.62,73.35,NaN
santa_cruz_2016,2016,4.3,NaN,43.6744,NaN,59.4,69.5,NaN
santa_cruz_2012,2012,3.8,NaN,38.9117,0,58.4,70.34,NaN
santa_cruz_2013,2013,3.8,NaN,5.855,0,58.74,72.5,NaN
santa_cruz_2014,2014,4,NaN,34.4622,0,60.7833,72.55,NaN
tulare_2011,2011,NaN,NaN,9.87,0,55.12,67.09,NaN
tulare_2010,2010,NaN,NaN,32.326,72.7167,56.1583,68.575,NaN
tulare_2012,2012,NaN,NaN,13.78,NaN,58.43,70.52,NaN
tulare_2013,2013,NaN,NaN,7.92,NaN,57.73,70.26,NaN
tulare_2014,2014,NaN,NaN,17.588,124.15,58.7833,71.2769,NaN
tulare_2015,2015,NaN,NaN,14.77,NaN,60.6889,72.5889,NaN
tulare_2016,2016,NaN,NaN,15,NaN,57.5636,70.1583,NaN
butte_2010,2010,6,NaN,47.84,0,59.1571,69.4875,NaN
butte_2011,2011,5.6,NaN,31.2567,NaN,60.1,71.0833,NaN
butte_2013,2013,5.6,NaN,10.8733,NaN,61.5625,73.25,NaN
butte_2014,2014,5.8,NaN,35.0562,0,62.6286,73.3571,NaN
butte_2015,2015,5.8,NaN,15.8489,0,62.425,73.55,NaN
butte_2016,2016,6,NaN,46.3489,0,60.825,71.675,NaN
butte_2012,2012,NaN,NaN,43.5025,NaN,59.5,70.3,NaN
shasta_2013,2013,5.4,73.5,14.7613,6.9,59.3333,72.525,15308.7
shasta_2014,2014,5.4,72.3,48.93,3.86667,59.4455,71.8182,14102.6
...,...,...,...,...,...,...,...,...
tehama_2015,2015,7.2,NaN,13.358,NaN,62.34,72.7,NaN
tehama_2016,2016,7.6,NaN,33.04,NaN,61.66,71.6,NaN
san_mateo_2014,2014,NaN,NaN,24.84,NaN,NaN,NaN,NaN
nevada_2010,2010,2,NaN,60.552,69.92,50.2143,61.225,NaN
nevada_2013,2013,2,NaN,13.23,34.2,51.3,64.925,NaN
nevada_2015,2015,1.8,NaN,29.8371,43.72,53.5222,66.0778,NaN
nevada_2016,2016,NaN,NaN,59.8383,60.06,51.6,63.7778,NaN
nevada_2014,2014,1.8,NaN,41.603,14.0667,53.09,65.74,NaN
nevada_2012,2012,2,NaN,49.6914,121.55,50.5111,63.6222,NaN
nevada_2011,2011,2,NaN,46.4217,90.4,49.8571,61.275,NaN
sonoma_2012,2012,4.5,NaN,43.9506,0,57.7429,69.5429,NaN
sonoma_2013,2013,4.5,NaN,9.73222,NaN,58.1833,70.35,NaN
sonoma_2014,2014,4.5,NaN,40.5582,NaN,60.3857,71.9571,NaN
sonoma_2015,2015,4.3,NaN,18.1974,NaN,60.2286,72.2143,NaN
sonoma_2016,2016,4.9,NaN,45.0167,NaN,59.25,71.0667,NaN
sonoma_2010,2010,4.3,NaN,51.4756,0,55.875,65.575,NaN
sonoma_2011,2011,4,NaN,30.7592,0,56.08,67.02,NaN
sutter_2012,2012,NaN,NaN,23.57,NaN,NaN,NaN,NaN
sutter_2010,2010,NaN,NaN,22.34,0,NaN,NaN,NaN
sutter_2013,2013,NaN,NaN,6.41,NaN,NaN,NaN,NaN
sutter_2014,2014,NaN,NaN,19.35,NaN,NaN,NaN,NaN
sutter_2015,2015,NaN,NaN,8.85,NaN,NaN,NaN,NaN
sutter_2016,2016,NaN,NaN,22.33,0,NaN,NaN,NaN
san_luis_obispo_2010,2010,6.15,NaN,26.394,0,58.8222,72.1222,NaN
san_luis_obispo_2011,2011,6.15,NaN,15.8,NaN,58.8,73.15,NaN
san_luis_obispo_2012,2012,6.15,NaN,18.0663,NaN,60.7167,75.225,NaN
san_luis_obispo_2013,2013,5.8,NaN,3.70222,0,60.9615,75.7923,NaN
san_luis_obispo_2014,2014,6.25,NaN,14.775,NaN,63.0462,77.0538,NaN
san_luis_obispo_2015,2015,6.35,NaN,9.76875,NaN,62.1,75.4818,NaN
san_luis_obispo_2016,2016,6.4,NaN,19.189,NaN,61.55,75.17,NaN

In [59]:
master_df.to_csv("../CSVs/climate_data.csv")